:root {
  --O-bg-body-rgb: 30, 30, 30;
  --O-bg-body: rgb(var(--O-bg-body-rgb));
}

.hidden { display: none !important; }

body {
  overflow-x: hidden;
  background-color: var(--O-bg-body);
  height: 100vh;
  width: 100vw;
  font-family: 'Inika', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}