*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: transparent;
}

#animation-canvas {
    width: 100%;
    height: 100%;
}

#animation-canvas canvas {
    opacity: 0;
    transition: opacity 2s ease;
}

#animation-canvas canvas.is-loaded {
    opacity: 1;
}

.b{
    border: 2px solid red;
}
